<%= error_messages_for :user %>

<div align="center" style="margin-top: 20px;">

<% form_for :user, :url => users_path do |f| -%>

  <table>
    <tr><td>
  <label for="login">Login:</label>
    </td><td>
  <%= f.text_field :login, :size => 15 %>
    </td></tr>

    <tr><td>
  <label for="email">Email:</label>
    </td><td>
  <%= f.text_field :email, :size => 25 %>
    </td></tr>

    <tr><td>
  <label for="password">Password:</label>
    </td><td>
  <%= f.password_field :password, :size => 15 %>
    </td></tr>

    <tr><td>
  <label for="password_confirmation">Confirm Password:</label>
    </td><td>
  <%= f.password_field :password_confirmation, :size => 15 %>
    </td></tr>
  </table>

  <%= submit_tag 'Sign up' %>

<% end -%>

</div>
