<% if @picture.tweets.empty? %>

  <i>There is no tweet about this picture right now...</i>
  <br />

  <% if logged_in? %>
    Be the first to
    <%= link_to_remote 'tweet!', :update => 'new-comment', \
          :url => { :controller => 'tweets', :action => 'new', :id => @picture.id }, \
          :html => { :class => 'black' } %>
  <% else %>
    <%= link_to 'Login', login_path, :class => 'black' %>
    and be the first to tweet!
  <% end %>

  <div id="new-comment"></div>

<% else %>

  <% tweets_count = @picture.tweets.size %>
  <% if tweets_count > 1 %>
    There are <b><%= tweets_count %></b> tweets about this picture.
  <% else %>
    There is a tweet about this picture.
  <% end %>
  <br />

  <% if logged_in? %>
    You can
    <%= link_to_remote 'tweet', :update => 'new-comment', \
          :url => { :controller => 'tweets', :action => 'new', :id => @picture.id }, \
          :html => { :class => 'black' }  %>
    as well!
  <% else %>
    <%= link_to 'Login', login_path, :class => 'black' %>
    so you can tweet as well!
  <% end %>

  <br />
  <div id="new-comment"></div>
  <br /><br />

  <% for tweet in @picture.tweets.reverse %>
    <span class="<%= cycle('list-line-odd', 'list-line-even') %>">
      « <i><%= tweet.message %></i> »
      <br />
      <font size="-1">
        (by <%= link_to tweet.user.login, user_path, :class => 'black' %>
         on <%= tweet.created_at %>)
      </font>
    </span>
    <br /><br />
  <% end %>

<% end %>
