<h3>Welcome</h3>

<div id='userbox'>
Hello,
  <% if logged_in? %>
    <%= self.current_user.login + '!' %>
    (<%= link_to 'logout', logout_path %>)
  <% else %>
    you could
    <%= link_to 'login', login_path %>
    or <%= link_to 'register', new_user_path %>.
  <% end %>
</div>

<% if logged_in? %>
  <br /><br />
  <div id="user-actions">
    <%= link_to 'upload a picture', new_picture_path %>
    <br />
    <%= link_to 'manage your pictures', manage_browse_path %>
  </div>
<% end %>

<br /><br />
<table id='picture-list'>
  <tr>
    <th>Name</th>
    <th>Thumbnail</th>
  <% if logged_in? %>
    <th>actions</th>
  <% end %>
    <th>latest tweet</th>
  </tr>
<% for picture in @pictures %>
  <tr class="<%= cycle('list-line-odd', 'list-line-even') %>">
    <td> <%= link_to (h picture.name), picture_path(picture) %> </td>
    <td>

      <%= link_to image_tag(get_pics_root + picture.thumb_path),
        get_pics_root + picture.path,
        { :rel => "lightbox[pictures]", :title => picture.name } %>

    </td>
<% if logged_in? %>
    <td>
      <%= link_to 'tweet', :controller => 'tweets', :action => 'new', :id => picture.id %>
      <%= link_to 'tweets', :controller => 'tweets', :action => 'show', :id => picture.id %>
    </td>
<% end %>
    <td>
      <% lt = Tweet.find_by_picture_id(picture.id, :order => "created_at DESC") %>
      <%= ( lt.nil? ) ? '<i>none</i>' : "#{lt.message} (by #{lt.user.login})" %>
    </td>
  </tr>
<% end %>
</table>
